{% extends 'base.html' %}

{% block title %}Adoption Agency{% endblock %}

{% block content %}
<h1 class="display-4 text-left">Pets</h1>

<div class="row">
    {% for pet in pets %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{pet.photo_url()}}" alt="{{pet.name}}">
            <div class="card-body">
                <a class="card-text font-weight-bold" href="{{url_for('edit_pet', pet_id=pet.id)}}">{{pet.name}}</a>
                {%if pet.available%} <b> is available </b>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <h5>No pets</h5>
    </div>
    {% endfor %}
</div>

<a href="/add" class="btn btn-info btn-lg mt-5">Add a Pet</a>

{% endblock %}